[Unit]
Description=StandX
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/standx
ExecStart=/root/standx/run.sh
ExecStop=/root/standx/stop.sh

Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target